<header>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</header>
<footer>
    <div class="footer-content">
        <h3>GlobeGazers</h3>
        <p>Join us as we explore the world one city at a time. Share your experiences, photos, and memories with us. Happy globe gazing!</p>
        <ul class="socials">
            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p>© 2024 GlobeGazers. All rights reserved.</p>
    </div>
</footer>